{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Infopass API",
    "description": "Verification API provides a comprehensive solution to ensure secure and efficient verification processes for both individuals and businesses.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://infopass.in"
    }
  ],
  "paths": {
    "/api/v1/in/identity/pan/lite": {
        "post": {
          "tags": [
            "Identity"
          ],
          "summary": "Pan Lite",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "pan": "ABCDE1234A"
                  }
                }
              }
            }
          },
          "security": [
            {
              "basicAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Fri, 22 Mar 2024 06:45:14 GMT"
                  }
                },
                "Server": {
                  "schema": {
                    "type": "number",
                    "example": "Apache/2.4.54 (Win64) PHP/8.2.0 mod_fcgid/2.3.10-dev"
                  }
                },
                "Vary": {
                  "schema": {
                    "type": "string",
                    "example": "Authorization"
                  }
                },
                "X-Powered-By": {
                  "schema": {
                    "type": "number",
                    "example": "PHP/8.2.0"
                  }
                },
                "X-Xdebug-Profile-Filename": {
                  "schema": {
                    "type": "number",
                    "example": "E:/wampp/tmp\\trace.localhost.1711089914.26660.cgrind"
                  }
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache, private"
                  }
                },
                "X-RateLimit-Limit": {
                  "schema": {
                    "type": "integer",
                    "example": "60"
                  }
                },
                "X-RateLimit-Remaining": {
                  "schema": {
                    "type": "integer",
                    "example": "59"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "Keep-Alive": {
                  "schema": {
                    "type": "string",
                    "example": "timeout=5, max=100"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "Keep-Alive"
                  }
                },
                "Transfer-Encoding": {
                  "schema": {
                    "type": "string",
                    "example": "chunked"
                  }
                },
                "Content-Type": {
                  "schema": {
                    "type": "string",
                    "example": "application/json"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "examples": {
                    "example-1": {
                      "summary": "Success(Signzy)",
                      "value": {
                        "code": "0x0200",
                        "message": "Record found successful.",
                        "status": "SUCCESS",
                        "data": {
                          "pan": "ABCDE1234A",
                          "fullName": "ANIL KUMAR",
                          "fatherName": "SAHISH KUMAR",
                          "dob": "12-07-1995",
                          "category": ""
                        }
                      }
                    },
                    "example-2": {
                      "summary": "Success ZOOP",
                      "value": {
                        "code": "0x0200",
                        "message": "Record found successful.",
                        "status": "SUCCESS",
                        "data": {
                          "pan": "ABCDE1234A",
                          "fullName": "ANIL KUMAR",
                          "fatherName": "",
                          "dob": "",
                          "nameMatchScore": "",
                          "category": "Person"
                        }
                      }
                    },
                    "example-3": {
                      "summary": "falid (surepass)",
                      "value": {
                        "code": "0x0202",
                        "status": "FAILURE",
                        "message": "Your access token is not valid for this API/Scope. Please contact 'techsupport@surepass.io' to enable this API."
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Unexpected error",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example":{
                      "code": "0x0201",
                      "message": "Something went worng, Please try after sometimes.",
                      "status": "FAILURE"
                  }
                }
              }
            }
          }
        }
    },
    "/api/v1/in/identity/pan/comprehensive": {
        "post": {
          "tags": [
            "Identity"
          ],
          "summary": "Pan Comprehensive",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "pan": "ABCDE2432A"
                  }
                }
              }
            }
          },
          "security": [
            {
              "basicAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "Keep-Alive"
                  }
                },
                "Keep-Alive": {
                  "schema": {
                    "type": "string",
                    "example": "timeout=5, max=100"
                  }
                },
                "x-powered-by": {
                  "schema": {
                    "type": "number",
                    "example": "PHP/8.1.27"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache, private"
                  }
                },
                "content-type": {
                  "schema": {
                    "type": "string",
                    "example": "application/json"
                  }
                },
                "x-ratelimit-limit": {
                  "schema": {
                    "type": "integer",
                    "example": "60"
                  }
                },
                "x-ratelimit-remaining": {
                  "schema": {
                    "type": "integer",
                    "example": "59"
                  }
                },
                "access-control-allow-origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "content-length": {
                  "schema": {
                    "type": "integer",
                    "example": "312"
                  }
                },
                "content-encoding": {
                  "schema": {
                    "type": "string",
                    "example": "br"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "date": {
                  "schema": {
                    "type": "string",
                    "example": "Tue, 05 Mar 2024 06:01:57 GMT"
                  }
                },
                "server": {
                  "schema": {
                    "type": "string",
                    "example": "LiteSpeed"
                  }
                },
                "platform": {
                  "schema": {
                    "type": "string",
                    "example": "hostinger"
                  }
                },
                "content-security-policy": {
                  "schema": {
                    "type": "string",
                    "example": "upgrade-insecure-requests"
                  }
                },
                "alt-svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "code": "0x0200",
                    "message": "Record found successful.",
                    "status": "SUCCESS",
                    "data": {
                      "pan": "ABCDE1234A",
                      "fullName": "ANIL KUMAR",
                      "firstName": "ANIL",
                      "middleName": "",
                      "lastName": "KUMAR",
                      "emailId": "",
                      "mobileNumber": "",
                      "gender": "M",
                      "dob": "1995-07-12",
                      "aadhaarLinked": true,
                      "category": "person",
                      "maskedAadhaarNumber": "XXXXXXXX2742",
                      "address": {
                        "fullAddress": "",
                        "addressLineOne": "",
                        "addressLineTwo": "",
                        "street": "",
                        "city": "",
                        "state": "",
                        "pincode": "",
                        "country": ""
                      }
                    }
                  }
                }
              }
            },
            "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
          }
        }
    },
    "/api/v1/in/identity/aadhaar/send/otp": {
        "post": {
          "tags": [
            "Identity"
          ],
          "summary": "Aadhaar Send Otp",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "aadhaarNumber": "597480250748"
                  }
                }
              }
            }
          },
          "security": [
            {
              "basicAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "Keep-Alive"
                  }
                },
                "Keep-Alive": {
                  "schema": {
                    "type": "string",
                    "example": "timeout=5, max=100"
                  }
                },
                "x-powered-by": {
                  "schema": {
                    "type": "number",
                    "example": "PHP/8.1.27"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache, private"
                  }
                },
                "content-type": {
                  "schema": {
                    "type": "string",
                    "example": "application/json"
                  }
                },
                "x-ratelimit-limit": {
                  "schema": {
                    "type": "integer",
                    "example": "60"
                  }
                },
                "x-ratelimit-remaining": {
                  "schema": {
                    "type": "integer",
                    "example": "59"
                  }
                },
                "access-control-allow-origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "content-length": {
                  "schema": {
                    "type": "integer",
                    "example": "179"
                  }
                },
                "content-encoding": {
                  "schema": {
                    "type": "string",
                    "example": "br"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "date": {
                  "schema": {
                    "type": "string",
                    "example": "Tue, 05 Mar 2024 06:11:11 GMT"
                  }
                },
                "server": {
                  "schema": {
                    "type": "string",
                    "example": "LiteSpeed"
                  }
                },
                "platform": {
                  "schema": {
                    "type": "string",
                    "example": "hostinger"
                  }
                },
                "content-security-policy": {
                  "schema": {
                    "type": "string",
                    "example": "upgrade-insecure-requests"
                  }
                },
                "alt-svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "code": "0x0200",
                    "message": "OTP send successful.",
                    "status": "SUCCESS",
                    "data": {
                      "clientRefId": "aadhaar_v2_AibfrmHfYmxYdTlRVGNb",
                      "taskId": "ADR2757412365101234D58",
                      "udf1": "",
                      "udf2": ""
                    }
                  }
                }
              }
            },
            "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
          }
        }
    },
    "/api/v1/in/identity/aadhaar/send/verify": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Aadhaar OTP Verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "otp": "941432",
                  "clientRefId": "848b6065-3465-4ce8-8799-4268220c1d62",
                  "taskId": "ADR6383A541"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "number",
                  "example": "PHP/8.1.27"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "integer",
                  "example": "5815"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 05 Mar 2024 06:12:14 GMT"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "example": "LiteSpeed"
                }
              },
              "platform": {
                "schema": {
                  "type": "string",
                  "example": "hostinger"
                }
              },
              "content-security-policy": {
                "schema": {
                  "type": "string",
                  "example": "upgrade-insecure-requests"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Aadhaar OTP Verify",
                    "value": {
                      "code": "0x0200",
                      "message": "Record found successful.",
                      "status": "SUCCESS",
                      "data": {
                        "clientRefId": "aadhaar_v2_AibfrmHfYmxYdTlRVGNb",
                        "fullName": "Sonika Thapa",
                        "aadhaarNumber": "597480250748",
                        "dob": "2000-04-25",
                        "gender": "F",
                        "profileImage": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCADIAKADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD1ULTsUgNLQIMU4CkFLQAYpcUUZ96ADGKrXF2kHBpbm5WFCSa4rXfE9vYSgz5JJwAKAOpk1RQPlFU3v5XOQcCuAvfHVvBbB403MRkAmubvfiNqrt+4WGFc9Nu4/rS1A9iW9mU5zmtC11EP8snBrwaH4ha2XBaSIqDkgxgZHpXb+GvGEWsuYJUEVwBnAPBHtQB6d9piP8QqRWDdCK5cSkY+b9au2l4yOAT8tFwN3FGKajh1BFPpgJijFGaKADFJilpKAGAUuKBS5oAMUuKWl4oAaeKoXV3syAamvrjyIyTwMdTXn3iDxEIQ4EpQBTkqef8APNAGhr2uR2cLSyS7QoJNeNanrM2pXzTyuWY8KOwFP1jXLjVZmMshEYOFXPArHyEoSAbJK5YknJ7U0FgOBk+9ITl89qUnOMCmA4HjJPOKBJjvRtO339KjAoA1rfXr+HaBfXOB0AlIA/Wu88L+MXlnitbzeEcYSRjnB9/avLySeB1q3Y30ltKvOQGBwenFID6a0y8EqhM1qYrzfwf4iXUYwSAsiAbgvTFehxTrIikHrSAmxSYp1FADcUmMU4mkNAEdOoAp1MBKWlxSYoA5fxbeSRQrbxqMyc7j2H+RXjXia6VG8tZWeRvvZPT2r2HxYqNFhtuFBYlsdu1eDa2Vl1STYflBx1zQIyyxJI65p8ULS9M59K0LTT2kPrn2rotK0FU+eQZ+oqZTSNIwbOYj06RwMA88dKsLo8u4KEP5V6Rb6bAq4MQxVpdPiXogx9Kz9sjT2LPNz4enZCwUg4qC40GVE3BSccV6kbaPGNlZ93YR4+UYJpe1H7I8naFomwQRUbI2eOBXX6vpoV9yjNYNxYyRjcwJFaxmmjKUGjX8JaudPv0JPyn5W+le16LqCz7QrZBHH6f418727eXMpBxzXs/gGVriBCckj0544/r/AEpkHoykkdadSL0x0xTv50AJSUuBS4oAYKWkApcUwFFKaQZp2KAOL8ZIVtpGV23HAC9gScZ/UflXhcai41NlHILV7p48Eq6bcOkixBYg4Y/xYySP0FeGaUjHVVXvmk9hrc7GysEjjHyrWtAAOMc1FbJkAGr8UCKQxIz9a43ds7IpIsQ529KsR+pp1uiFeoqUQ7n+XrQosu5XcHqKo3Occ8mtdogp+bgeuaoXTW6nazD1zT5WK6MaaBZTyBj0rG1Ow2wkp27V0jtAfuSKap3UYZCpwQaaumRKzPNCpF0cjABr3P4eqE0qHYQMqGb8R0/rXkOqWgtrwEdGPSvU/hw+dPXAwhGBz3Bwcf5711J3RySVtD0bP50uaaOacKBBS5owaMUDEBFFMpwpiHg4FGcmmGlzSAyPFOjprmh3NmeJHX923owOR+GRXgOjWjJ4ilic8whgfqDivpGUbkZTyCMHmvHLnQP7M8X37DdsdRIpJznf8x/I5H4UpP3WVH4hD5pfap2oO/rU8dlvG7zySOcVHeRTbcQnGepx0rKu9LvpUiezvZ4phkSB5GCt6EbeP0rCOux0PQ6W3DxjAc4rUtp2OPWsbSYJxGFnZ2xH8ztgHd9B2rUsQTNtxmlJ2LjqOu5TuxnFZ0qo7jzGwD1zV69XFxgjvzWTrOkG+imjOWikTaoBI2n39fy6UJ3CSsRXItIZNqnB+tRoAXyrEqR06iqtp4YFtaNEVV5Hfc8hXJ9gPStS00w2yHcSR2zTk7dSUm+hyfiiLZ5MgHfFd18NGzZHZkLvwMjHYZ+vINc74ishc2WOhVgf6f1rqPAMa2kBgQ7iv3vxxWlN6GFRa3PRlOFyTT1NQRsSOQKmrQzHZpM0maSgAopuaM0wByFGT60bxjNNcb0K88+lUbmYIDGxZHxxx96kBaedQuc9OtcP4jdJNVSRT0jCEfQk/wBa2bm8VYGLSsMDO0ZBNcVdy3zXZN0RHGwJhhfHmYB5Y46ZyOPp07zNe6VB+8asMaOmCM1MtsmfugfhWfazkkDNacb5wa5LWO9WaElRY0AXgd6k08BpwQOBUF8QI1ycbmwTTbHULZJTGJBxzkdaLagWdRCrOSRj2qO3IZSD0FV7zVLVroKzFs9PlJpNPlV5ZVQ5UYINU0GhobEXPFVLhhz0AqaSVQdpb5qzLuY7Tg80rA7WKN9+8QqPUH9a2/AYMst7IANsb7cHpjgZ/Q1zlzPFDG0srBY1GWJ6VvfDSVH08SAks0jr8x5POfz5Nb0kcdVnosSBVBxgntUlRhuaXNamQ8UlN3UZoAbRTd1GaBj6jkRJFKuqsp6gjINO3UhNAFT7Fbo7NFBEsjD7wQA1i6jocIsrpwu64lBbzMZPHIUe3H6n1roGkAJqvKRICD+lAHmkTbHHWtKC4BGB61HrdidOvjgZhkyyEDp6j8Koxzbe9c0lY66ctDYuJFli2OMj0rOS3RZCW2kdl71WuJbh+YmCjucZNQxwSN83njI5O6lGJqveNB4FfAXYvqverds8cMe1RtNYsluwXebjJPYU63NwoJ8wsg/vVUo6bhJWNa4nByc81nTSE+9NebI681WlnSNWZmAAGSSegpIzkzH8Uz+XpBi4zM6oRnnA5z+YH510Xwsm8tJYCeVcSBc9MgD/ABrzzV9TXVdQTZnyIzhPf1P+fSu38Ck2msXKkbSYUceuASDXRFWRySd2ezAAilqCGUOgx6VLupkjqBTc0u6gZFmlzikoyKAHZNMkOKdkVDI9AELsSabUFzewWiF5nA9u9YU3i2EXAt4Y1aVhlULfMwwTwOp4B/KgDY1GC2ns3S6RWjAzk9vcGvMjdRG4lWJy8aSMgY98GtbxHqGoahbtbfaFtlP3gnJ/T/GucsrOK0iEKFm5yzMeprOo1YuF7m9bSBselaIsY5U3Acn0rAj3R4K/lWnDqO1QCSDWC30OmMu5c/s1FQHb+dUroiLgdqkk1LCcMayLq4knbA4B702htqxFcXQXODzXK+Ib6VmjhLFYyNxA710UkIHHU1CLG3u2C3EEcoHZvT6jkfgRVwaTuYzTaOR0pA96jYBVCGIPcZ6V32j3CQ+I7dgv7ueNoowT93+L+e4fjVVfBMNxvn0eVluEBZrSVuHGeit29Oc84yR1rES+aCRc7o7i3kB2uMMCDyCK6E7mDVj32zkxGoJyfWr4biuX0PWra+tY33bWZRgGukicMoIwcjNIRKDxS5poIpc0DId2Oppj3EaD5nUY964zX/Ey6V5f22SRHkG5IUHzlf7xHGB7nr2zg44288eyOCLe2+bPDSuSMfQY/nTsK56vc6zbQA4fcfauX1XxpFa5DzJF6DOW/IV5je+KNUuiR9oMS5yBF8uPx6/rWMzsx3MSSepNPlYXPQ7XULvxXdyLDO9rZQrvublhlwvooHQ9efx9jq2tpHa2pitIBbxNywBy8nu7dSeTx0GcDgCs74XGK7ttVsC2JZEDAdyvIJ/DI/OujMZiJRxhlO0j3FZVrxWhpTSb1MO9hIj4GKy1QhzXTXUQkQ1kNb4aubobkSjIpRlT0qQRlT0p+zIpoCIsCtRYDGrJQ9hR5ZHamBTkXjGKZawEOSM1eFuW7VZgtdoBxRcRp+G4wdT5HPlNg/iK8n8T/J4r1YDjF7N/6Ga9m0Xy7O3vdQlGYbeMsxXkgKCzcfTFeEXc8l1eSzytuklcuzepJya6aS9056nxGrpXiO900qqv5kQ/gfn8j1Fd7pHxBtsLHJK8DYH+sGVz6Aj+uK8nyRUivV2IPoKx8TJcDerxyx5wWjYEZ/CtVdYtiPvV852d/c2UwmtpWjcdwevsfUe1ekfD7U7rxFrcljelXjFu0mVXaQQyjP60rMdzlPG9/Jf+MtVkdQuydogAcjCfIPz25/GubZs1reKH3eKNWPTN5Nn/AL7NYp5FaCFLUhbmmkUmKANrw1rUmg65bX8eSI2+df7yngj8RmvcNSgiu44dRtiGguEDbh3yODXzsM5r1f4ZeJ0ngPhy/cbTk2rMe/Up/Ue+fUVMo8ysVF2dzcktiQQKzJ7d0b2rpLmB7adopBn0PqPWqc8QYdBXE4tOx1J3RhbCeopyxenSrrwgdBUapzmkMasAx0prRAmrOOKFiLGkOxBFAWaraWpJxgntinoCmAo+taNusdtBJf3jrFawqXLt2A7/AOA6n8s1GLk7ESkoq5geP9STRPB8emRsPtF62Gx1CAhmP57Rz1BPpXjB5NbnizXpfEWuTXrgrGP3cKH+CMdB+pJ9yaw67bWVjl8wpQabS0CJFbJr1P4LWYk1jVL4ud1vbrFt9RI2c/8AkP8AWvKk617n8NYzovw5u9Um2Mszy3C7Rg7EG3afxRj+NNageefEXSxpnjK88tNsNyRcR/NnO77x/wC+t3FcnXtfxA0qLxN4Lt9csiGe0XzvlOcxkfODzjIwCf8AdI714oaqwCYzSUHNHXtQACrFtM9vMksTlHU5DKcEGoKco5oA918LeJrfxhpq210Uj1WEduPMA/iA/mPxHtbnheJzHKu1h+R+leKaKuoHVLddMWVrwv8AuhFndkc8Y9ACfYDNe96Quo6laR2+v6Yba8VQTIroVc/8BPB9QOOv0rOdNSXmXCfKYckQ7VVK7eMV0F7od3aB2XE0S8gr97HuP8PyrIdAwyOlckouO50KSexAFJ7VNGm0DNT2VnPevst08wjq38K/U0mra5ofhNW+0zi8v1B2wRHkHHQnov8APnoacaTkwlUUS5BZRxwtd3zrBboNzGRtoA9z/T/9VeY+OfGn9tSHTtOLJpkZ5boZ2H8RHZfQfiecAZXiXxjqfiSbbcSCO1Vsx28fCL2z7n3Pqeg4rnWNdcIKK0OWUnJ6jG6UynMabTEFFFOABoAnsrWW8u4LWBN80zrHGucZZjgDP1Ir2/x9dxeGPANrocDZZo0t1boSqgbm47nAz/vVyXwk0BrnWJNcmQ/Z7FSsZ7NKw/XCk5/3lNZfxH8RHWvEToj5t7XMac8E5+Y/n+gFMDq/hRrqTRXOg3jB45FLRo/II/iXH05x9a4Hxb4el8Oa/cWL5MWd8DE5Lxk8HoOex46iqOm382m38N3buUliYMpFezK2hfE7w+YZP3GpwrlW6tE3qP7yHuPp0OCK3QHhO2jbW1r3hzUvDl79m1CAIWyY3U5SQDup79vfkZArJIpAM281c07T7nUr6G0tIWmnmYIiL1JP6D6ngdTxVcKSenNeoeCdIh8OaTL4r1Q+X+6Jt0YDIU/xc924A6cHvupiOnh/sP4V+HElljjn1WZNrFD88z8EqpI4QHHOPQ4JIB8w1D4geJNQvftJ1B4SM7Y4PkRR6Y7/AI5PvWZ4h1+68R6s95cnGeEjByEX0/8Ar/8A6qzEHze1Az1b4c+K9e1C7nsGle+lf94BcEsoHQknsBxXpv8AZNs0DvPp8EkoYltkYCuT9fr+mfpyXw+0Gfw1bQQypsvNSUvK5BPl7QCsf1wXJPrxzwa6a/uLgwTaTZvGbhjyXfHyE5PY89R+NS11Y0yraaoi6mthc2j2x4OxWxjg8nHBHHUelYPi74VWWtSzalpd2be6l+YpId0Ttg+nKknGTz9K6yTS4b63t1vHP2+1yY54+GPGCOc9R1znnB6gY4TxjceJ/DrjV9LvJH01IlSZZCuUJcgEoQAc5XBAzz7ZpRXcGeUa54f1Hw9fm01G2MT9UYEMrrnAII//AF+oFZRFb3iXxHdeJb6K7u0iSRIhFiMEAgEnufc1h1RJEVpNtPNHFAxhWrWnafcalfwWdrGZJ5nCIo9T6+g9T2FQDk1658K/DiWNpL4p1BFQBWW1L4wq/wAUnt3GeOA3Y0gNjxDf2vw98EW+lWUhN2UKRsOCzn70nXjkk47EgdBXhjbpGLuck10fjPxC3iPxFNdAnyE/dwg/3Qev48n8a55mH4UPsAoJ71oaVq11pF7Hd2cxjmjOQR/nmiigD1fS/iNofiCy+weJLSJCcZLJvjYjocdj/nimN4A8F6nM0llqc0UeMbIblWUe+WBP60UVfQQsml/DvwxbNcPLHf3EQIUSS+azHH9wYX8xiuB8V+L7vxNchWHk2cf+rhBzz0yfU/y/PJRQwObC4YVoaTbxXGrWkM5xDJMiyH0UkZ/SiikB9NtdrFq1paBQRJbTSk9wVaIf+zmvPfiS+o6ZDb6zp1w8W+QxSlBz/stntwCPxFFFD1Hc81g8VawNWtb251C6mMMgbDzMeO4+hHFd78SbeS78K2epWUzvaeZulAzhgwG1z9Dx/wADoooEeRsM0wiiigBuKNuaKKAOr8DeDZ/FOrLvUpp0DA3MpyOP7i/7R/Qc+gPa/E3xTDptgnhzStsQCBHEQCiNAOEAHTjH4fWiihAePAfU0H34FFFQUf/Z",
                        "zip": "226002",
                        "address": {
                          "country": "India",
                          "dist": "Lucknow",
                          "state": "Uttar Pradesh",
                          "po": "Dilkusha",
                          "loc": "",
                          "vtc": "Lucknow Cantonment",
                          "subdist": "Bakshi Ka Talab",
                          "street": "",
                          "house": "",
                          "landmark": "44, 2 Farlong"
                        }
                      }
                    }
                  },
                  "example-1": {
                    "summary": "Zoop",
                    "value": {
                      "code": "0x0200",
                      "message": "Record found successful.",
                      "status": "SUCCESS",
                      "data": {
                        "clientRefId": "bec7b7b9-e3d1-4400-aab2-9be0b6b06bbf",
                        "fullName": "Sonika Thapa",
                        "aadhaarNumber": "********0748",
                        "dob": "1970-01-01",
                        "gender": "F",
                        "profileImage": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCADIAKADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD1ULTsUgNLQIMU4CkFLQAYpcUUZ96ADGKrXF2kHBpbm5WFCSa4rXfE9vYSgz5JJwAKAOpk1RQPlFU3v5XOQcCuAvfHVvBbB403MRkAmubvfiNqrt+4WGFc9Nu4/rS1A9iW9mU5zmtC11EP8snBrwaH4ha2XBaSIqDkgxgZHpXb+GvGEWsuYJUEVwBnAPBHtQB6d9piP8QqRWDdCK5cSkY+b9au2l4yOAT8tFwN3FGKajh1BFPpgJijFGaKADFJilpKAGAUuKBS5oAMUuKWl4oAaeKoXV3syAamvrjyIyTwMdTXn3iDxEIQ4EpQBTkqef8APNAGhr2uR2cLSyS7QoJNeNanrM2pXzTyuWY8KOwFP1jXLjVZmMshEYOFXPArHyEoSAbJK5YknJ7U0FgOBk+9ITl89qUnOMCmA4HjJPOKBJjvRtO339KjAoA1rfXr+HaBfXOB0AlIA/Wu88L+MXlnitbzeEcYSRjnB9/avLySeB1q3Y30ltKvOQGBwenFID6a0y8EqhM1qYrzfwf4iXUYwSAsiAbgvTFehxTrIikHrSAmxSYp1FADcUmMU4mkNAEdOoAp1MBKWlxSYoA5fxbeSRQrbxqMyc7j2H+RXjXia6VG8tZWeRvvZPT2r2HxYqNFhtuFBYlsdu1eDa2Vl1STYflBx1zQIyyxJI65p8ULS9M59K0LTT2kPrn2rotK0FU+eQZ+oqZTSNIwbOYj06RwMA88dKsLo8u4KEP5V6Rb6bAq4MQxVpdPiXogx9Kz9sjT2LPNz4enZCwUg4qC40GVE3BSccV6kbaPGNlZ93YR4+UYJpe1H7I8naFomwQRUbI2eOBXX6vpoV9yjNYNxYyRjcwJFaxmmjKUGjX8JaudPv0JPyn5W+le16LqCz7QrZBHH6f418727eXMpBxzXs/gGVriBCckj0544/r/AEpkHoykkdadSL0x0xTv50AJSUuBS4oAYKWkApcUwFFKaQZp2KAOL8ZIVtpGV23HAC9gScZ/UflXhcai41NlHILV7p48Eq6bcOkixBYg4Y/xYySP0FeGaUjHVVXvmk9hrc7GysEjjHyrWtAAOMc1FbJkAGr8UCKQxIz9a43ds7IpIsQ529KsR+pp1uiFeoqUQ7n+XrQosu5XcHqKo3Occ8mtdogp+bgeuaoXTW6nazD1zT5WK6MaaBZTyBj0rG1Ow2wkp27V0jtAfuSKap3UYZCpwQaaumRKzPNCpF0cjABr3P4eqE0qHYQMqGb8R0/rXkOqWgtrwEdGPSvU/hw+dPXAwhGBz3Bwcf5711J3RySVtD0bP50uaaOacKBBS5owaMUDEBFFMpwpiHg4FGcmmGlzSAyPFOjprmh3NmeJHX923owOR+GRXgOjWjJ4ilic8whgfqDivpGUbkZTyCMHmvHLnQP7M8X37DdsdRIpJznf8x/I5H4UpP3WVH4hD5pfap2oO/rU8dlvG7zySOcVHeRTbcQnGepx0rKu9LvpUiezvZ4phkSB5GCt6EbeP0rCOux0PQ6W3DxjAc4rUtp2OPWsbSYJxGFnZ2xH8ztgHd9B2rUsQTNtxmlJ2LjqOu5TuxnFZ0qo7jzGwD1zV69XFxgjvzWTrOkG+imjOWikTaoBI2n39fy6UJ3CSsRXItIZNqnB+tRoAXyrEqR06iqtp4YFtaNEVV5Hfc8hXJ9gPStS00w2yHcSR2zTk7dSUm+hyfiiLZ5MgHfFd18NGzZHZkLvwMjHYZ+vINc74ishc2WOhVgf6f1rqPAMa2kBgQ7iv3vxxWlN6GFRa3PRlOFyTT1NQRsSOQKmrQzHZpM0maSgAopuaM0wByFGT60bxjNNcb0K88+lUbmYIDGxZHxxx96kBaedQuc9OtcP4jdJNVSRT0jCEfQk/wBa2bm8VYGLSsMDO0ZBNcVdy3zXZN0RHGwJhhfHmYB5Y46ZyOPp07zNe6VB+8asMaOmCM1MtsmfugfhWfazkkDNacb5wa5LWO9WaElRY0AXgd6k08BpwQOBUF8QI1ycbmwTTbHULZJTGJBxzkdaLagWdRCrOSRj2qO3IZSD0FV7zVLVroKzFs9PlJpNPlV5ZVQ5UYINU0GhobEXPFVLhhz0AqaSVQdpb5qzLuY7Tg80rA7WKN9+8QqPUH9a2/AYMst7IANsb7cHpjgZ/Q1zlzPFDG0srBY1GWJ6VvfDSVH08SAks0jr8x5POfz5Nb0kcdVnosSBVBxgntUlRhuaXNamQ8UlN3UZoAbRTd1GaBj6jkRJFKuqsp6gjINO3UhNAFT7Fbo7NFBEsjD7wQA1i6jocIsrpwu64lBbzMZPHIUe3H6n1roGkAJqvKRICD+lAHmkTbHHWtKC4BGB61HrdidOvjgZhkyyEDp6j8Koxzbe9c0lY66ctDYuJFli2OMj0rOS3RZCW2kdl71WuJbh+YmCjucZNQxwSN83njI5O6lGJqveNB4FfAXYvqverds8cMe1RtNYsluwXebjJPYU63NwoJ8wsg/vVUo6bhJWNa4nByc81nTSE+9NebI681WlnSNWZmAAGSSegpIzkzH8Uz+XpBi4zM6oRnnA5z+YH510Xwsm8tJYCeVcSBc9MgD/ABrzzV9TXVdQTZnyIzhPf1P+fSu38Ck2msXKkbSYUceuASDXRFWRySd2ezAAilqCGUOgx6VLupkjqBTc0u6gZFmlzikoyKAHZNMkOKdkVDI9AELsSabUFzewWiF5nA9u9YU3i2EXAt4Y1aVhlULfMwwTwOp4B/KgDY1GC2ns3S6RWjAzk9vcGvMjdRG4lWJy8aSMgY98GtbxHqGoahbtbfaFtlP3gnJ/T/GucsrOK0iEKFm5yzMeprOo1YuF7m9bSBselaIsY5U3Acn0rAj3R4K/lWnDqO1QCSDWC30OmMu5c/s1FQHb+dUroiLgdqkk1LCcMayLq4knbA4B702htqxFcXQXODzXK+Ib6VmjhLFYyNxA710UkIHHU1CLG3u2C3EEcoHZvT6jkfgRVwaTuYzTaOR0pA96jYBVCGIPcZ6V32j3CQ+I7dgv7ueNoowT93+L+e4fjVVfBMNxvn0eVluEBZrSVuHGeit29Oc84yR1rES+aCRc7o7i3kB2uMMCDyCK6E7mDVj32zkxGoJyfWr4biuX0PWra+tY33bWZRgGukicMoIwcjNIRKDxS5poIpc0DId2Oppj3EaD5nUY964zX/Ey6V5f22SRHkG5IUHzlf7xHGB7nr2zg44288eyOCLe2+bPDSuSMfQY/nTsK56vc6zbQA4fcfauX1XxpFa5DzJF6DOW/IV5je+KNUuiR9oMS5yBF8uPx6/rWMzsx3MSSepNPlYXPQ7XULvxXdyLDO9rZQrvublhlwvooHQ9efx9jq2tpHa2pitIBbxNywBy8nu7dSeTx0GcDgCs74XGK7ttVsC2JZEDAdyvIJ/DI/OujMZiJRxhlO0j3FZVrxWhpTSb1MO9hIj4GKy1QhzXTXUQkQ1kNb4aubobkSjIpRlT0qQRlT0p+zIpoCIsCtRYDGrJQ9hR5ZHamBTkXjGKZawEOSM1eFuW7VZgtdoBxRcRp+G4wdT5HPlNg/iK8n8T/J4r1YDjF7N/6Ga9m0Xy7O3vdQlGYbeMsxXkgKCzcfTFeEXc8l1eSzytuklcuzepJya6aS9056nxGrpXiO900qqv5kQ/gfn8j1Fd7pHxBtsLHJK8DYH+sGVz6Aj+uK8nyRUivV2IPoKx8TJcDerxyx5wWjYEZ/CtVdYtiPvV852d/c2UwmtpWjcdwevsfUe1ekfD7U7rxFrcljelXjFu0mVXaQQyjP60rMdzlPG9/Jf+MtVkdQuydogAcjCfIPz25/GubZs1reKH3eKNWPTN5Nn/AL7NYp5FaCFLUhbmmkUmKANrw1rUmg65bX8eSI2+df7yngj8RmvcNSgiu44dRtiGguEDbh3yODXzsM5r1f4ZeJ0ngPhy/cbTk2rMe/Up/Ue+fUVMo8ysVF2dzcktiQQKzJ7d0b2rpLmB7adopBn0PqPWqc8QYdBXE4tOx1J3RhbCeopyxenSrrwgdBUapzmkMasAx0prRAmrOOKFiLGkOxBFAWaraWpJxgntinoCmAo+taNusdtBJf3jrFawqXLt2A7/AOA6n8s1GLk7ESkoq5geP9STRPB8emRsPtF62Gx1CAhmP57Rz1BPpXjB5NbnizXpfEWuTXrgrGP3cKH+CMdB+pJ9yaw67bWVjl8wpQabS0CJFbJr1P4LWYk1jVL4ud1vbrFt9RI2c/8AkP8AWvKk617n8NYzovw5u9Um2Mszy3C7Rg7EG3afxRj+NNageefEXSxpnjK88tNsNyRcR/NnO77x/wC+t3FcnXtfxA0qLxN4Lt9csiGe0XzvlOcxkfODzjIwCf8AdI714oaqwCYzSUHNHXtQACrFtM9vMksTlHU5DKcEGoKco5oA918LeJrfxhpq210Uj1WEduPMA/iA/mPxHtbnheJzHKu1h+R+leKaKuoHVLddMWVrwv8AuhFndkc8Y9ACfYDNe96Quo6laR2+v6Yba8VQTIroVc/8BPB9QOOv0rOdNSXmXCfKYckQ7VVK7eMV0F7od3aB2XE0S8gr97HuP8PyrIdAwyOlckouO50KSexAFJ7VNGm0DNT2VnPevst08wjq38K/U0mra5ofhNW+0zi8v1B2wRHkHHQnov8APnoacaTkwlUUS5BZRxwtd3zrBboNzGRtoA9z/T/9VeY+OfGn9tSHTtOLJpkZ5boZ2H8RHZfQfiecAZXiXxjqfiSbbcSCO1Vsx28fCL2z7n3Pqeg4rnWNdcIKK0OWUnJ6jG6UynMabTEFFFOABoAnsrWW8u4LWBN80zrHGucZZjgDP1Ir2/x9dxeGPANrocDZZo0t1boSqgbm47nAz/vVyXwk0BrnWJNcmQ/Z7FSsZ7NKw/XCk5/3lNZfxH8RHWvEToj5t7XMac8E5+Y/n+gFMDq/hRrqTRXOg3jB45FLRo/II/iXH05x9a4Hxb4el8Oa/cWL5MWd8DE5Lxk8HoOex46iqOm382m38N3buUliYMpFezK2hfE7w+YZP3GpwrlW6tE3qP7yHuPp0OCK3QHhO2jbW1r3hzUvDl79m1CAIWyY3U5SQDup79vfkZArJIpAM281c07T7nUr6G0tIWmnmYIiL1JP6D6ngdTxVcKSenNeoeCdIh8OaTL4r1Q+X+6Jt0YDIU/xc924A6cHvupiOnh/sP4V+HElljjn1WZNrFD88z8EqpI4QHHOPQ4JIB8w1D4geJNQvftJ1B4SM7Y4PkRR6Y7/AI5PvWZ4h1+68R6s95cnGeEjByEX0/8Ar/8A6qzEHze1Az1b4c+K9e1C7nsGle+lf94BcEsoHQknsBxXpv8AZNs0DvPp8EkoYltkYCuT9fr+mfpyXw+0Gfw1bQQypsvNSUvK5BPl7QCsf1wXJPrxzwa6a/uLgwTaTZvGbhjyXfHyE5PY89R+NS11Y0yraaoi6mthc2j2x4OxWxjg8nHBHHUelYPi74VWWtSzalpd2be6l+YpId0Ttg+nKknGTz9K6yTS4b63t1vHP2+1yY54+GPGCOc9R1znnB6gY4TxjceJ/DrjV9LvJH01IlSZZCuUJcgEoQAc5XBAzz7ZpRXcGeUa54f1Hw9fm01G2MT9UYEMrrnAII//AF+oFZRFb3iXxHdeJb6K7u0iSRIhFiMEAgEnufc1h1RJEVpNtPNHFAxhWrWnafcalfwWdrGZJ5nCIo9T6+g9T2FQDk1658K/DiWNpL4p1BFQBWW1L4wq/wAUnt3GeOA3Y0gNjxDf2vw98EW+lWUhN2UKRsOCzn70nXjkk47EgdBXhjbpGLuck10fjPxC3iPxFNdAnyE/dwg/3Qev48n8a55mH4UPsAoJ71oaVq11pF7Hd2cxjmjOQR/nmiigD1fS/iNofiCy+weJLSJCcZLJvjYjocdj/nimN4A8F6nM0llqc0UeMbIblWUe+WBP60UVfQQsml/DvwxbNcPLHf3EQIUSS+azHH9wYX8xiuB8V+L7vxNchWHk2cf+rhBzz0yfU/y/PJRQwObC4YVoaTbxXGrWkM5xDJMiyH0UkZ/SiikB9NtdrFq1paBQRJbTSk9wVaIf+zmvPfiS+o6ZDb6zp1w8W+QxSlBz/stntwCPxFFFD1Hc81g8VawNWtb251C6mMMgbDzMeO4+hHFd78SbeS78K2epWUzvaeZulAzhgwG1z9Dx/wADoooEeRsM0wiiigBuKNuaKKAOr8DeDZ/FOrLvUpp0DA3MpyOP7i/7R/Qc+gPa/E3xTDptgnhzStsQCBHEQCiNAOEAHTjH4fWiihAePAfU0H34FFFQUf/Z",
                        "zip": "",
                        "faceStatus": "",
                        "rawxml": "https://storage.googleapis.com/zoop-okyc-document-prod/bec7b7b9-e3d1-4400-aab2-9be0b6b06bbf-2024-06-24T06%3A50%3A11.348Z.xml?GoogleAccessId=okyc-production%40zoop-production.iam.gserviceaccount.com&Expires=1719219012&Signature=Mnioph%2BdE07%2BaWqI7HDfDylyS%2B1ze3UMcVRcF13QpfIkdSVy%2Btycrq0%2BbIgoFeZ0zJe5pwkJ5P%2BY%2B2WEscwEZfFXFG%2FhY1SmftY5kGXjbzDtdzvRqb0fxFt2MComVHJC%2B%2FefleXGJ03qB1cQOXTI%2FO9eqxPTYWtfsptuZ8M8wWd%2BsDQB2zxXowi%2BPx06Y%2BVD03MOLH8pNozTftjS1I02vmty0rAEeV6%2FiDfDUmTsvDvZYuFvQy8X8G8FizxnkwOlKXwsaxXktVsifLE%2FVuL0F3yvWBXwv8KHR15ldF%2BUy8VFtDo9CFmUf7FJySuwLRY9t8t4vAYQBz7%2F5VJkzatZcQ%3D%3D",
                        "zipdata": "https://storage.googleapis.com/zoop-okyc-document-prod/bec7b7b9-e3d1-4400-aab2-9be0b6b06bbf-2024-06-24T06%3A50%3A10.214Z.zip?GoogleAccessId=okyc-production%40zoop-production.iam.gserviceaccount.com&Expires=1719219010&Signature=gdUGl6z1ZAEDbNzLVUo2EOH5iJ217Kg0vu7%2BSR3Ou%2B%2FZxAkB0K20b%2BEPRS9K3dzkN7%2BIqUm%2FNFvkKpNlDypJLa2e4QlL8O1ZGMIbqbXNpr26D0RJLL%2BWexbvzg9qc5lBgtJGhCz7cAmuHivMS18mlNsBeqnexrbzhDWa7xFOR2I2svVGd66mEwK4YfAtCyVttLDeLFmPguXALBZxt6fx%2FuoLI818EHqwLqsj0qqkstiDSPXsqve9P1jEkGubk4AabB2wnovPdtUgejW11CVwf028%2BhySu1UyJNy6QoCwggGXoW38ykaSSRzi5K%2FEyop574eu22OZ%2BPTOr6yWZIslfw%3D%3D",
                        "shareCode": "",
                        "mobileHash": "",
                        "faceScore": "",
                        "address": {
                          "country": "India",
                          "dist": "Lucknow",
                          "state": "Uttar Pradesh",
                          "po": "Dilkusha",
                          "loc": "",
                          "vtc": "Lucknow Cantonment",
                          "subdist": "Bakshi Ka Talab",
                          "street": "",
                          "house": "",
                          "landmark": "44, 2 Farlong"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/in/identity/aadhaar/basic": {
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Aadhaar Basic",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "aadhaarNumber": "597480250748"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 22 Mar 2024 05:21:32 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "number",
                  "example": "Apache/2.4.54 (Win64) PHP/8.2.0 mod_fcgid/2.3.10-dev"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Authorization"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/8.2.0"
                }
              },
              "X-Xdebug-Profile-Filename": {
                "schema": {
                  "type": "number",
                  "example": "E:/wampp/tmp\\trace.localhost.1711084892.6252.cgrind"
                }
              },
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "code": "0x0200",
                  "message": "Record found successful.",
                  "status": "SUCCESS",
                  "data": {
                    "verified": true,
                    "aadhaarNumber": "597480250748"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/in/banking/pennydrop/verify": {
        "post": {
          "tags": [
            "Banking"
          ],
          "summary": "Bank Verification Penny Drop",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "accountNumber": "24270100020109",
                    "ifsc": "BARB0HAKIKT"
                  }
                }
              }
            }
          },
          "security": [
            {
              "basicAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "Keep-Alive"
                  }
                },
                "Keep-Alive": {
                  "schema": {
                    "type": "string",
                    "example": "timeout=5, max=100"
                  }
                },
                "x-powered-by": {
                  "schema": {
                    "type": "number",
                    "example": "PHP/8.2.16"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache, private"
                  }
                },
                "content-type": {
                  "schema": {
                    "type": "string",
                    "example": "application/json"
                  }
                },
                "x-ratelimit-limit": {
                  "schema": {
                    "type": "integer",
                    "example": "60"
                  }
                },
                "x-ratelimit-remaining": {
                  "schema": {
                    "type": "integer",
                    "example": "59"
                  }
                },
                "access-control-allow-origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "content-length": {
                  "schema": {
                    "type": "integer",
                    "example": "366"
                  }
                },
                "content-encoding": {
                  "schema": {
                    "type": "string",
                    "example": "br"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "date": {
                  "schema": {
                    "type": "string",
                    "example": "Tue, 25 Jun 2024 07:10:49 GMT"
                  }
                },
                "server": {
                  "schema": {
                    "type": "string",
                    "example": "LiteSpeed"
                  }
                },
                "platform": {
                  "schema": {
                    "type": "string",
                    "example": "hostinger"
                  }
                },
                "content-security-policy": {
                  "schema": {
                    "type": "string",
                    "example": "upgrade-insecure-requests"
                  }
                },
                "alt-svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "code": "0x0200",
                    "message": "Record found successful.",
                    "status": "SUCCESS",
                    "data": {
                      "accountExists": "1",
                      "fullName": "DUMMY FULLNAME",
                      "upiId": null,
                      "ifscDetails": {
                        "micr": "228***002",
                        "iso3166": "IN-UP",
                        "swift": null,
                        "bankCode": "BARB",
                        "bankName": "Bank of Baroda",
                        "branch": "MUNSHIGANJ,SULTANPUR",
                        "centre": "SULTANPUR",
                        "district": "SULTANPUR",
                        "state": "UTTAR PRADESH",
                        "city": "SULTANPUR",
                        "address": "MUNSHIGANJ, SULTANPUR, UP 227412",
                        "contact": "+910221800223344",
                        "imps": "1",
                        "rtgs": "1",
                        "neft": "1",
                        "upi": "1",
                        "micrCheck": "1"
                      }
                    }
                  }
                }
              }
            },
            "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
          }
        }
    },
    "/api/v1/in/banking/upi/verify": {
      "post": {
        "tags": [
          "Banking"
        ],
        "summary": "Upi Verification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "upi": "965*****986@ybl"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "number",
                  "example": "PHP/8.2.16"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "integer",
                  "example": "461"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "example": "Sat, 22 Jun 2024 11:02:53 GMT"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "example": "LiteSpeed"
                }
              },
              "platform": {
                "schema": {
                  "type": "string",
                  "example": "hostinger"
                }
              },
              "content-security-policy": {
                "schema": {
                  "type": "string",
                  "example": "upgrade-insecure-requests"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "code": "0x0200",
                  "message": "Record found successful.",
                  "status": "SUCCESS",
                  "data": {
                    "clientRefId": "bank_validation_VpemqbGWkxViodsQJfEa",
                    "accountExists": true,
                    "fullName": "CHASEOUT TECHNOLOGIES PRIVATE LIMITED",
                    "upiId": null,
                    "ifscDetails": {
                      "micr": "247012003",
                      "iso3166": "IN-UP",
                      "swift": null,
                      "bank": "Bank of Baroda",
                      "bankCode": "BARB",
                      "bankName": "Bank of Baroda",
                      "branch": "HAKIKATNAGAR BRANCH",
                      "centre": "SAHARANPUR",
                      "district": "SAHARANPUR",
                      "state": "UTTAR PRADESH",
                      "city": "SAHARANPUR",
                      "address": "HAKIKATNAGAR BRANCH,NEAR POLICE LINES, HAKIKAT NAGAR,SAHARANPUR (U.P.),2470",
                      "contact": "+910221800223344",
                      "imps": true,
                      "rtgs": true,
                      "neft": true,
                      "upi": true,
                      "micrCheck": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/in/banking/ifsc/details": {
      "post": {
        "tags": [
          "Banking"
        ],
        "summary": "IFSC",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "ifsc": "BARB0HAKIKT"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "number",
                  "example": "PHP/8.2.16"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "integer",
                  "example": "342"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 25 Jun 2024 07:46:52 GMT"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "example": "LiteSpeed"
                }
              },
              "platform": {
                "schema": {
                  "type": "string",
                  "example": "hostinger"
                }
              },
              "content-security-policy": {
                "schema": {
                  "type": "string",
                  "example": "upgrade-insecure-requests"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "code": "0x0200",
                  "message": "Record found successful.",
                  "status": "SUCCESS",
                  "data": {
                    "bankName": "Bank of Baroda",
                    "bankCode": "BARB",
                    "branch": "HAKIKATNAGAR BRANCH",
                    "centre": "SAHARANPUR",
                    "district": "SAHARANPUR",
                    "state": "UTTAR PRADESH",
                    "city": "SAHARANPUR",
                    "address": "HAKIKATNAGAR BRANCH,NEAR POLICE LINES, HAKIKAT NAGAR,SAHARANPUR (U.P.),2470",
                    "micr": "247012003",
                    "swift": null,
                    "contact": "+910221800223344",
                    "imps": true,
                    "rtgs": false,
                    "neft": false,
                    "upi": true,
                    "iso3166": "IN-UP"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/in/gstin/filling": {
        "post": {
          "tags": [
            "Gstin"
          ],
          "summary": "Gstin Filling True",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "gstin": "30AAACR5055K1ZK"
                  }
                }
              }
            }
          },
          "security": [
            {
              "basicAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "headers": {
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "Keep-Alive"
                  }
                },
                "Keep-Alive": {
                  "schema": {
                    "type": "string",
                    "example": "timeout=5, max=100"
                  }
                },
                "x-powered-by": {
                  "schema": {
                    "type": "number",
                    "example": "PHP/8.1.27"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache, private"
                  }
                },
                "content-type": {
                  "schema": {
                    "type": "string",
                    "example": "application/json"
                  }
                },
                "x-ratelimit-limit": {
                  "schema": {
                    "type": "integer",
                    "example": "60"
                  }
                },
                "x-ratelimit-remaining": {
                  "schema": {
                    "type": "integer",
                    "example": "59"
                  }
                },
                "access-control-allow-origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "content-length": {
                  "schema": {
                    "type": "integer",
                    "example": "923"
                  }
                },
                "content-encoding": {
                  "schema": {
                    "type": "string",
                    "example": "br"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Encoding"
                  }
                },
                "date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 06 Mar 2024 09:29:58 GMT"
                  }
                },
                "server": {
                  "schema": {
                    "type": "string",
                    "example": "LiteSpeed"
                  }
                },
                "platform": {
                  "schema": {
                    "type": "string",
                    "example": "hostinger"
                  }
                },
                "content-security-policy": {
                  "schema": {
                    "type": "string",
                    "example": "upgrade-insecure-requests"
                  }
                },
                "alt-svc": {
                  "schema": {
                    "type": "string",
                    "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  },
                  "example": {
                    "code": "0x0200",
                    "message": "Record found successful.",
                    "status": "SUCCESS",
                    "data": {
                      "clientId": "corporate_gstin_KdlpMinDFufhLyioexfJ",
                      "fieldVisitConducted": "No",
                      "gstinStatus": "Active",
                      "stateJurisdiction": "State - Goa,Headquarter - North Goa,Ward - Panaji (Jurisdictional Office)",
                      "constitutionOfBusiness": "Public Limited Company",
                      "gstin": "30AAACR5055K1ZK",
                      "address": "RCITPL Premises,Ground Floor, CMM Arena, Renovadi, Merces, North Goa, Goa, 403005",
                      "dateOfRegistration": "2017-07-01",
                      "businessName": "RELIANCE INDUSTRIES LIMITED.",
                      "centerJurisdiction": "Commissionerate - GOA,Division - DIVISION-II,Range - RANGE-IV",
                      "taxpayerType": "Regular",
                      "dateOfCancellation": "1800-01-01",
                      "filingStatus": [
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "January",
                          "status": "Filed",
                          "dateOfFiling": "2024-02-09",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "December",
                          "status": "Filed",
                          "dateOfFiling": "2024-01-10",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "November",
                          "status": "Filed",
                          "dateOfFiling": "2023-12-10",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "October",
                          "status": "Filed",
                          "dateOfFiling": "2023-11-09",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "September",
                          "status": "Filed",
                          "dateOfFiling": "2023-10-09",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "August",
                          "status": "Filed",
                          "dateOfFiling": "2023-09-08",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "July",
                          "status": "Filed",
                          "dateOfFiling": "2023-08-09",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "June",
                          "status": "Filed",
                          "dateOfFiling": "2023-07-08",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "May",
                          "status": "Filed",
                          "dateOfFiling": "2023-06-09",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "April",
                          "status": "Filed",
                          "dateOfFiling": "2023-05-09",
                          "returnType": "GSTR1",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "January",
                          "status": "Filed",
                          "dateOfFiling": "2024-02-20",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "December",
                          "status": "Filed",
                          "dateOfFiling": "2024-01-19",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "November",
                          "status": "Filed",
                          "dateOfFiling": "2023-12-20",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "October",
                          "status": "Filed",
                          "dateOfFiling": "2023-11-20",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "September",
                          "status": "Filed",
                          "dateOfFiling": "2023-10-20",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "August",
                          "status": "Filed",
                          "dateOfFiling": "2023-09-20",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "July",
                          "status": "Filed",
                          "dateOfFiling": "2023-08-19",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "June",
                          "status": "Filed",
                          "dateOfFiling": "2023-07-20",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "May",
                          "status": "Filed",
                          "dateOfFiling": "2023-06-20",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "April",
                          "status": "Filed",
                          "dateOfFiling": "2023-05-19",
                          "returnType": "GSTR3B",
                          "financialYear": "2023-2024"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2023-12-25",
                          "returnType": "GSTR9",
                          "financialYear": "2022-2023"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2022-12-28",
                          "returnType": "GSTR9",
                          "financialYear": "2021-2022"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2021-12-17",
                          "returnType": "GSTR9",
                          "financialYear": "2020-2021"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2021-02-27",
                          "returnType": "GSTR9",
                          "financialYear": "2019-2020"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2020-11-30",
                          "returnType": "GSTR9",
                          "financialYear": "2018-2019"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2020-01-28",
                          "returnType": "GSTR9",
                          "financialYear": "2017-2018"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2023-12-28",
                          "returnType": "GSTR9C",
                          "financialYear": "2022-2023"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2022-12-28",
                          "returnType": "GSTR9C",
                          "financialYear": "2021-2022"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2021-12-28",
                          "returnType": "GSTR9C",
                          "financialYear": "2020-2021"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2021-02-27",
                          "returnType": "GSTR9C",
                          "financialYear": "2019-2020"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2020-12-09",
                          "returnType": "GSTR9C",
                          "financialYear": "2018-2019"
                        },
                        {
                          "modeOfFiling": "ONLINE",
                          "taxPeriod": "Annual",
                          "status": "Filed",
                          "dateOfFiling": "2020-01-31",
                          "returnType": "GSTR9C",
                          "financialYear": "2017-2018"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
          }
        }
    },
    "/api/v1/in/gstin": {
      "post": {
        "tags": [
          "Gstin"
        ],
        "summary": "Gstin Filling False",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "gstin": "30AAACR5055K1ZK"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "number",
                  "example": "PHP/8.1.27"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer",
                  "example": "59"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "integer",
                  "example": "500"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 06 Mar 2024 09:39:47 GMT"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "example": "LiteSpeed"
                }
              },
              "platform": {
                "schema": {
                  "type": "string",
                  "example": "hostinger"
                }
              },
              "content-security-policy": {
                "schema": {
                  "type": "string",
                  "example": "upgrade-insecure-requests"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "code": "0x0200",
                  "message": "Record found successful.",
                  "status": "SUCCESS",
                  "data": {
                    "clientId": "corporate_gstin_zgLadmJsZvoPoMdozjus",
                    "fieldVisitConducted": "No",
                    "gstinStatus": "Active",
                    "stateJurisdiction": "State - Goa,Headquarter - North Goa,Ward - Panaji (Jurisdictional Office)",
                    "constitutionOfBusiness": "Public Limited Company",
                    "gstin": "30AAACR5055K1ZK",
                    "address": "RCITPL Premises,Ground Floor, CMM Arena, Renovadi, Merces, North Goa, Goa, 403005",
                    "dateOfRegistration": "2017-07-01",
                    "businessName": "RELIANCE INDUSTRIES LIMITED.",
                    "centerJurisdiction": "Commissionerate - GOA,Division - DIVISION-II,Range - RANGE-IV",
                    "taxpayerType": "Regular",
                    "dateOfCancellation": "1800-01-01",
                    "filingStatus": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/in/gstin/pan": {
      "post": {
        "tags": [
          "Gstin"
        ],
        "summary": "Gstin By Pan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "pan": "AAACR5111K"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "x-powered-by": {
                "schema": {
                  "type": "number",
                  "example": "PHP/8.1.27"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "content-type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "x-ratelimit-limit": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "x-ratelimit-remaining": {
                "schema": {
                  "type": "integer",
                  "example": "57"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "content-length": {
                "schema": {
                  "type": "integer",
                  "example": "1063"
                }
              },
              "content-encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 06 Mar 2024 12:19:24 GMT"
                }
              },
              "server": {
                "schema": {
                  "type": "string",
                  "example": "LiteSpeed"
                }
              },
              "platform": {
                "schema": {
                  "type": "string",
                  "example": "hostinger"
                }
              },
              "content-security-policy": {
                "schema": {
                  "type": "string",
                  "example": "upgrade-insecure-requests"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=2592000, h3-29=\":443\"; ma=2592000, h3-Q050=\":443\"; ma=2592000, h3-Q046=\":443\"; ma=2592000, h3-Q043=\":443\"; ma=2592000, quic=\":443\"; ma=2592000; v=\"43,46\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "code": "0x0200",
                  "message": "Record found successful.",
                  "status": "SUCCESS",
                  "data": {
                    "clientId": "gstin_pan_YsnFApyfMzxuDaAjXOwk",
                    "panNumber": "AAACR5055K",
                    "list": [
                      {
                        "gstin": "35AAACR5055K1ZA",
                        "stateCode": "35",
                        "state": "Andaman & Nicobar Islands",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "12AAACR5055K1ZI",
                        "stateCode": "12",
                        "state": "Arunachal Pradesh",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "07AAACR5055K1Z9",
                        "stateCode": "07",
                        "state": "Delhi",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "34AAACR5055K2ZB",
                        "stateCode": "34",
                        "state": "Puducherry",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "27AAACR5055K1Z7",
                        "stateCode": "27",
                        "state": "Maharashtra",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "21AAACR5055K2ZI",
                        "stateCode": "21",
                        "state": "Orissa",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "21AAACR5055K1ZJ",
                        "stateCode": "21",
                        "state": "Orissa",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "02AAACR5055K1ZJ",
                        "stateCode": "02",
                        "state": "Himachal Pradesh",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "05AAACR5055K1ZD",
                        "stateCode": "05",
                        "state": "Uttarakhand",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "34AAACR5055K1ZC",
                        "stateCode": "34",
                        "state": "Puducherry",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "37AAACR5055K2Z5",
                        "stateCode": "37",
                        "state": "Andrapradesh(New)",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "26AAACR5055K2Z8",
                        "stateCode": "26",
                        "state": "Dadra & Nagar Haveli",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "13AAACR5055K1ZG",
                        "stateCode": "13",
                        "state": "Nagaland",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "24AAACR5055K5Z9",
                        "stateCode": "24",
                        "state": "Gujarat",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "30AAACR5055K1ZK",
                        "stateCode": "30",
                        "state": "Goa",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "23AAACR5055K3ZD",
                        "stateCode": "23",
                        "state": "Madhya Pradesh",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "26AAACR5055K1Z9",
                        "stateCode": "26",
                        "state": "Dadra & Nagar Haveli",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "24AAACR5055K2ZC",
                        "stateCode": "24",
                        "state": "Gujarat",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "23AAACR5055K2ZE",
                        "stateCode": "23",
                        "state": "Madhya Pradesh",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "97AAACR5055K1Z0",
                        "stateCode": "97",
                        "state": "",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "16AAACR5055K1ZA",
                        "stateCode": "16",
                        "state": "Tripura",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "38AAACR5055K1Z4",
                        "stateCode": "38",
                        "state": "",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "19AAACR5055K1Z4",
                        "stateCode": "19",
                        "state": "West Bengal",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "27AAACR5055K4Z4",
                        "stateCode": "27",
                        "state": "Maharashtra",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "29AAACR5055K1Z3",
                        "stateCode": "29",
                        "state": "Karnataka",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "20AAACR5055K1ZL",
                        "stateCode": "20",
                        "state": "Jharkhand",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "33AAACR5055K1ZE",
                        "stateCode": "33",
                        "state": "Tamil Nadu",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "27AAACR5055K2Z6",
                        "stateCode": "27",
                        "state": "Maharashtra",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "01AAACR5055K1ZL",
                        "stateCode": "01",
                        "state": "Jammu & Kashmir",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "14AAACR5055K1ZE",
                        "stateCode": "14",
                        "state": "Manipur",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "09AAACR5055K1Z5",
                        "stateCode": "09",
                        "state": "Uttar Pradesh",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "08AAACR5055K1Z7",
                        "stateCode": "08",
                        "state": "Rajasthan",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "32AAACR5055K1ZG",
                        "stateCode": "32",
                        "state": "Kerala",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "03AAACR5055K2ZG",
                        "stateCode": "03",
                        "state": "Punjab",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "24AAACR5055K1ZD",
                        "stateCode": "24",
                        "state": "Gujarat",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "24AAACR5055K4ZA",
                        "stateCode": "24",
                        "state": "Gujarat",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "18AAACR5055K1Z6",
                        "stateCode": "18",
                        "state": "Assam",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "06AAACR5055K1ZB",
                        "stateCode": "06",
                        "state": "Haryana",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "37AAACR5055K1Z6",
                        "stateCode": "37",
                        "state": "Andrapradesh(New)",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "03AAACR5055K1ZH",
                        "stateCode": "03",
                        "state": "Punjab",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "24AAACR5055K3ZB",
                        "stateCode": "24",
                        "state": "Gujarat",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "17AAACR5055K1Z8",
                        "stateCode": "17",
                        "state": "Meghalaya",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "36AAACR5055K1Z8",
                        "stateCode": "36",
                        "state": "Telengana",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "10AAACR5055K1ZM",
                        "stateCode": "10",
                        "state": "Bihar",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "29AAACR5055K2Z2",
                        "stateCode": "29",
                        "state": "Karnataka",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "04AAACR5055K1ZF",
                        "stateCode": "04",
                        "state": "Chandigarh",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "02AAACR5055K2ZI",
                        "stateCode": "02",
                        "state": "Himachal Pradesh",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "11AAACR5055K1ZK",
                        "stateCode": "11",
                        "state": "Sikkim",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "22AAACR5055K1ZH",
                        "stateCode": "22",
                        "state": "Chhattisgarh",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "23AAACR5055K1ZF",
                        "stateCode": "23",
                        "state": "Madhya Pradesh",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "27AAACR5055K3Z5",
                        "stateCode": "27",
                        "state": "Maharashtra",
                        "activeStatus": "Active"
                      },
                      {
                        "gstin": "25AAACR5055K1ZB",
                        "stateCode": "25",
                        "state": "Daman & Diu",
                        "activeStatus": "Inactive"
                      },
                      {
                        "gstin": "15AAACR5055K1ZC",
                        "stateCode": "15",
                        "state": "Mizoram",
                        "activeStatus": "Active"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example":{
                    "code": "0x0201",
                    "message": "Something went worng, Please try after sometimes.",
                    "status": "FAILURE"
                }
              }
            }
[...]
